@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;

  .article-card {
    background: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .article-card__link {
      color: #222222;
      text-decoration: none;

      .article-card__thumbnail img {
        max-width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .article-card__content {
        padding: 16px;
      }
    }
  }
}
